[submodule "external/necis-downloader"]
	path = external/necis-downloader
	url = https://github.com/seismoseo/necis-downloader.git
[submodule "external/korea-cluster-relocation"]
	path = external/korea-cluster-relocation
	url = https://github.com/seismoseo/korea-cluster-relocation.git
